
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color:aqua;;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
    
.nav-logo{
    margin-top:5px;
    padding:10px;
}
.nav-logo img{
    height: 250px;
    width:300px;
    border: 2px solid red;
    border-radius: 50%;
    margin:3px;
    padding:5px;
}
.nav-menu a{
    color:white;
    text-decoration:none;
    font-size:1.8em;
    padding:10px;
    margin:7px;
    font-weight:bold;
    border-radius:10px;
 
}
.nav-menu{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top:35px;

}